.header {
  display: flex;
  width: 100%;
  //   border-style: solid;
  height: 50px;
  //   border-color: blue;
  .logo {
    width: 150px;
    border-style: solid;
    border-color: blue;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 200px;
    margin-right: 10px;
    border-radius: 8px;
    padding-right: 10px;
  }
  .search-bar {
    width: 200px;
    border-style: solid;
    border-color: blue;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 100px;
    border-radius: 8px;
    padding-left: 10px;
  }
  .home {
    width: 100px;
    border-style: solid;
    border-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-network {
    width: 100px;
    border-style: solid;
    border-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .jobs {
    width: 100px;
    border-style: solid;
    border-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .messaging {
    width: 100px;
    border-style: solid;
    border-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notification {
    width: 100px;
    border-style: solid;
    border-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .me {
    width: 100px;
    border-style: solid;
    border-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work {
    width: 100px;
    border-style: solid;
    border-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .try {
    width: 100px;
    border-style: solid;
    border-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
